# Host Port Bindings (Change if ports like 8080 or 3000 are already in use on your host)
MYSQL_HOST_PORT=3306
MONITORING_HOST_PORT=8080
ALERTING_HOST_PORT=8000
FRONTEND_HOST_PORT=3000

# MySQL Database Configuration
MYSQL_ROOT_PASSWORD=secretpassword
MYSQL_DATABASE=statuspulse
MYSQL_USER=statususer
MYSQL_PASSWORD=statuspass

# Monitoring Service Configuration
ALERT_SERVICE_URL=http://alerting:8000/alert

# Alert Service SMTP Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=alerts@example.com
SMTP_PASS=supersecretpassword
SMTP_FROM_EMAIL=alerts@example.com
ALERT_RECIPIENT_EMAIL=admin@example.com
SMTP_MOCK_MODE=true

# Frontend Configuration
VITE_API_BASE_URL=http://localhost:8080
