# Alert Service Server Config
ALERT_SERVICE_HOST=0.0.0.0
ALERT_SERVICE_PORT=8000

# SMTP Configuration for Email Alerts
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=alerts@example.com
SMTP_PASS=supersecretpassword
SMTP_FROM_EMAIL=alerts@example.com
ALERT_RECIPIENT_EMAIL=admin@example.com

# Enable mock email sending (logs email content to stdout instead of calling SMTP server if credentials are not real)
SMTP_MOCK_MODE=true
